<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guohao.guokeui">

    <application>
        <activity android:name=".TestMarqueeActivity" />
        <activity android:name=".TestShaderActivity" />
        <activity android:name=".TestUIActivity" />
        <activity android:name=".GuokeUIMainActivity" />
    </application>

</manifest>