<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guohao.guokeui">

    <application>
        <activity android:name=".TestDrawActivity"></activity>
        <activity android:name=".TestMarqueeActivity" />
        <activity android:name=".TestShaderActivity" />
        <activity android:name=".TestStrokMoveActivity" />
        <activity android:name=".GuokeUIMainActivity" />
        <activity android:name=".TestTimerSpinnerActivity" />
        <activity android:name="com.guohao.guokeui.hencoder.hencoderpracticedraw1.HenCoderPractive1Activity" />
        <activity android:name="com.guohao.guokeui.hencoder.hencoderpracticedraw2.HenCoderPractive2Activity" />
        <activity android:name="com.guohao.guokeui.hencoder.hencoderpracticedraw3.HenCoderPractive3Activity" />
        <activity android:name="com.guohao.guokeui.hencoder.hencoderpracticedraw4.HenCoderPractive4Activity" />
        <activity android:name="com.guohao.guokeui.hencoder.hencoderpracticedraw5.HenCoderPractive5Activity" />
        <activity android:name="com.guohao.guokeui.hencoder.hencoderpracticedraw6.HenCoderPractive6Activity" />
        <activity android:name="com.guohao.guokeui.hencoder.hencoderpracticedraw7.HenCoderPractive7Activity" />
    </application>

</manifest>