<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guohao.guokeuiproj">

    <application>
        <activity android:name="com.guohao.guokeui.TestMarqueeActivity"></activity>
        <activity android:name="com.guohao.guokeui.TestShaderActivity" />
        <activity android:name="com.guohao.guokeui.TestUIActivity" />
        <activity android:name="com.guohao.guokeui.GuokeUIMainActivity" />
    </application>

</manifest>